:root {
  --azul-oscuro: #003366;
  --verde-oliva: #556B2F;
  --amarillo-mostaza: #FFDB58;
  --navbar-bg-color: white;
  --navbar-text-color: black;
  --footer-bg-color: white;
  --footer-text-color: black;
  --background-color: white;
  --text-color: black;

  --color-fondo: white;
  --color-texto: black;
  --color-fondo-nav: white;
  --color-texto-nav: black;
  --color-fondo-footer: white;
  --color-texto-footer: black;
}

/* Modo Oscuro */


body.dark-mode nav.navbar {
  background-color: #2B59BD !important;
  color: white !important;
}

body.dark-mode .footer {
  background-color: #2B59BD !important;
  color: white !important;
}

body .bg-dark {
  background-color: #2B59BD;
}

.dark-mode .navbar-nav .nav-link {
  color: white !important;
}

body.dark-mode {
  background-color: #343a40 !important;
  color: white !important;
}

body.dark-mode .card-body {
  background-color: #343a40 !important;
  color: white !important;
}

/* Fin Modo Oscuro */

/* Boton Modo Oscuro */


.boton-blackmode:hover {
  background-color: #333;
}

/* Fin Boton Modo Oscuro */

/* Slider Img */

.carousel-inner {
  margin: 25px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Ajusta la altura máxima */
  object-fit: cover;
}

.carousel-item {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  max-height: 200px; /* Ajusta la altura máxima */
}
.col-md-3 .card img {
  max-height: 200px; /* Ajusta la altura máxima */
  object-fit: cover;
}

/* Fin Slider */

  .navbar-brand img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    transform: scale(1.2);
    border-radius: 20%;
  }

  /* Footer */

  .footer {
    background-color: #b8b8c4;
    padding-top: 25px;
    padding: 10px;
  }

.col-md-3 .navbar-brand img {
  margin-left: 30px;
  padding: 5px;
}

.footer .col-md-3 p {
  margin-left: 15px;
  text-align: justify;

}


  /* Fin Footer */

  